name: CD

on:
  release:
    types: [ released ]

permissions:
  contents: read

jobs:

  publish:
    name: Publish
    environment: npm
    runs-on: ubuntu-latest

    steps:
      - name: Check out branch
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Setup environment and dependencies
        uses: ./.github/actions/setup
      - name: Create .env file
        uses: SpicyPizza/create-envfile@ace6d4f5d7802b600276c23ca417e669f1a06f6f # v2.0
        with:
          envkey_BUILD: production
          envkey_DEBUG: false
          envkey_SENTRY_DSN_TOKEN: ${{ secrets.SENTRY_DSN_TOKEN  }}
          file_name: .env
      - name: Build lib
        shell: bash
        run: pnpm run build:lib
      - name: Publish package
        shell: bash
        run: pnpm publish --no-git-checks --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN  }}