name: CI

on:
  push:
    branches:
      - main

permissions:
  contents: read

env:
  CI: true

jobs:

  setup:
    name: Setup
    runs-on: ubuntu-latest

    steps:
      - name: Check out branch
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Setup environment and dependencies
        uses: ./.github/actions/setup

  test_integration:
    name: Test Integration
    runs-on: ubuntu-latest

    needs: [Setup]

    steps:
      - name: Check out branch
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Setup environment and dependencies
        uses: ./.github/actions/setup
      - name: Run Build
        run: pnpm run build:lib
        env:
          BUILD: production
          DEBUG: false
      - run: pnpm run test:integration
        env:
          CI: true
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: always()
        with:
          name: playwright-results
          path: playwright/__test__/test-results/
          retention-days: 30
