name: Pull Request

on:
  push:
    branches:
      - '**'
      - '!main'
  pull_request:
    branches:
      - '**'
      - '!main'
      
permissions:
  contents: read

jobs:

  setup:
    name: Setup
    runs-on: ubuntu-latest

    steps:
      - name: Check out branch
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Setup environment and dependencies
        uses: ./.github/actions/setup

  test_style:
    name: Lint & Typecheck
    runs-on: ubuntu-latest

    needs: [setup]

    steps:
      - name: Check out branch
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Setup environment and dependencies
        uses: ./.github/actions/setup
      - name: Check Lint
        run: pnpm run test:lint
      - name: Check Types
        run: pnpm run test:types

  test_unit:
    name: Unit Tests
    runs-on: ubuntu-latest

    needs: [setup]

    steps:
      - name: Check out branch
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Setup environment and dependencies
        uses: ./.github/actions/setup
      - name: Run Unit Tests
        run:  pnpm run test:unit